<%- include("templates/encabezado.ejs")%>
<center>
<header class="menuAcceder"><h1 class="cont">BIENVENIDO ADMINISTRADOR</h1></header>
    <img src="/web/media/81591.png" class="logoLogin">
    <br>
    <br>
    <form action="/acceder" method="post" class="acceder">
        <label for="correo">Ingresa tu usuario de administrador</label>
        <input type="text" name="usuario" id="usuario" placeholder="USUARIO"><br><br>
        <label for="contra">Ingresa tu contraseña</label>
        <input type="password" name="password" id="password" placeholder="CONTRASEÑA"><br><br>
        <button type="submit">Acceder</button>
    </form>
    <br>
</center>
<%- include("templates/pie.ejs")%>