<%- include("templates/encabezado")%> 
<div class="registrar">

<header><h1>Bienvenido administrador</h1></header>

<h2>Si requieres ver el código completo del proyecto lo puedes visualizar en GitHub siguiendo el siguiente enlace
<br>
<br>
<a href="https://github.com/TonyMx1/dossiermedicalV1.1">https://github.com/TonyMx1/dossiermedicalV1.1</a></h2>

</div>
<%- include("templates/pie")%>