<%- include("templates/encabezado.ejs")%>

<header><h1 class="cont">Puedes contactarnos por estos medios</h1></header>
<br>
<div class="contacto">
    
    <div class="item">
    <p><img src="/web/media/telegram-logo.png" alt="telegram" class="telegram">
        <br>
        <h2>Juanita Rubi</h2>
        <h2>5580647675</h2></p></div>

    <div class="item">
<p><img src="/web/media/logo-whatsapp.png" alt="whatsapp" class="whatsapp">
<h2>Mauro Cervantes</h2>
<h2>8156445233</h2></p></div>

<div class="item">
    <p><img src="/web/media/logo-whatsapp.png" alt="whatsapp" class="whatsapp">
    <h2>SOPORTE</h2>
    <h2>Horario: 8 AM - 4 PM</h2>
    <h2>4271235596</h2></p></div>

<div class="item">
    <p><img src="/web/media/x.webp" alt="whatsapp" class="telegram">
    <h2>Síguenos</h2>
    <h2><b>@dossiermedical</b></h2></p></div>
</div>

<%- include("templates/pie.ejs")%>