<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIENVENIDO</title>
    <script src="/web/js/script.js"></script>
</head>
<body>
<center>
<h1>BIENVENIDO A DOSSIER MEDICAL</h1>

<img src="/web/media/LOGO INDEX.jpg" class="logoindex">

<br>
<br>

<a href="/inicio"><button>ENTRAR</button></a>
</center>
<style>
    .logoindex{
        height: 500px;
        width: 7s00px;
    display: block; margin: auto;
}

button{
    font-size:xx-large;
    border-radius: 60px;
    background-color: black;
    color: white;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
</style>
<script>
    alert("Dossier Medical se compromete a proteger y respetar tu privacidad. Este aviso de privacidad establece cómo recopilamos, utilizamos y protegemos cualquier información personal que nos proporciones cuando utilizas nuestros servicios o interactúas con nosotros.")
</script>
    
</body>
</html>

