<%- include("templates/encabezado.ejs")%>
<div class="avisodepriv">
<br>
<div class="objetivo">
<h2>Objetivo</h2>

<p class="objetivo">"El objetivo de nuestra página web es proporcionar a nuestros pacientes y visitantes una plataforma informativa y accesible que les permita obtener información relevante sobre nuestros servicios médicos, promover la salud y el bienestar, y facilitar la comunicación con nuestro equipo médico. Nuestra página web busca ser una fuente confiable de información médica, donde los pacientes puedan aprender sobre diferentes condiciones médicas, tratamientos disponibles y medidas preventivas. Además, nos esforzamos por ofrecer un entorno en línea seguro y fácil de usar, donde los visitantes puedan agendar citas, solicitar recetas, acceder a resultados de pruebas médicas y enviar consultas médicas. Nuestro objetivo principal es brindar a nuestros pacientes una experiencia positiva y satisfactoria a través de nuestra página web, con el fin de mejorar su atención médica y promover un estilo de vida saludable".</p>
</div>

<br>
<h1><b>AVISO DE PRIVACIDAD</b></h1>
<br>

Este Aviso de Privacidad describe cómo <b>DossierMedical</b> ("nosotros", "nuestro" o "la Compañía") recopila y utiliza la información personal que proporcionas cuando utilizas nuestro sitio web [www.ejemplo.com] ("el Sitio"). Al acceder y utilizar el Sitio, aceptas las prácticas descritas en este Aviso de Privacidad.
<br>
<b><h2>Información que recopilamos:</h2></b>
<br>
Cuando te registras en nuestro Sitio o realizas una compra, podemos recopilar la siguiente información personal:
<br>
<ol class="num">
    <li class="num">Nombre y apellidos.</li>
    <li class="num">Dirección de correo electrónico.</li>
    <li class="num">Dirección de envío y facturación.</li>
    <li class="num">Número de teléfono de contacto.</li>
</ol>

Además, podemos recopilar información no personal, como datos de uso y preferencias, mediante cookies y tecnologías similares para mejorar tu experiencia en nuestro Sitio.
</div>
<%- include("templates/pie.ejs")%>