<%- include("templates/encabezado.ejs")%>

<header class="menuAcceder"><h1>Sobre Nosotros</h1></header>

<br>
<div class="objetivo">
<h2>Objetivo</h2>

<p class="objetivo">"El objetivo de nuestra página web es proporcionar a nuestros pacientes y visitantes una plataforma informativa y accesible que les permita obtener información relevante sobre nuestros servicios médicos, promover la salud y el bienestar, y facilitar la comunicación con nuestro equipo médico. Nuestra página web busca ser una fuente confiable de información médica, donde los pacientes puedan aprender sobre diferentes condiciones médicas, tratamientos disponibles y medidas preventivas. Además, nos esforzamos por ofrecer un entorno en línea seguro y fácil de usar, donde los visitantes puedan agendar citas, solicitar recetas, acceder a resultados de pruebas médicas y enviar consultas médicas. Nuestro objetivo principal es brindar a nuestros pacientes una experiencia positiva y satisfactoria a través de nuestra página web, con el fin de mejorar su atención médica y promover un estilo de vida saludable".</p>
</div>

<div class="botones">
<a href="/sesion"><button class="accederBoton">Ingresar Como Medico</button></a>
</div>


<%- include("templates/pie.ejs")%>