<%- include("templates/encabezado.ejs")%>
<div class="registrar">
  <h1 class="cont">Perfil</h1>
  <img src="/web/media/doctor-1295571_1280.webp" alt="Foto de perfil" style="width: 160px; height: 200px;">
  <h2 class="cont">Bienvenido, <%= user.fullName %>!</h2>
  <a href="/pacientes"><button>Revisar agenda clínica</button></a>
  <br>
  <br>
  <a href="/logout"><button>Cerrar Sesion</button></a>
</div>
<%- include("templates/pie.ejs")%>