body{
    background-image: url(/web/media/fondo.png);
    size-adjust: auto;
}

#barra-nav{
    pointer-events: none;
    background-color: black;
 }

.tit{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.return{
    font-family: 'Courier New', Courier, monospace;
}

.menu{
    display: block;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.logoLogin{
    height: 200px;
    
}

.logo{
    height: 10%;
    width: 10%;
    display: block; margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


.acceder{
    font-size: larger;
}

.whatsapp{
    height: 15%;
    width: 15%;
}

.telegram{
    height: 40%;
    width: 40%;
}

.registrarse{
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
}

.registro{
    font-size: larger;
}

.objetivo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.footer{
    background-color: black;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botones{
    text-align: center;
}

.accederBoton{
    font-size: large;
    border-radius: 50px;
}

.menuAcceder{
    text-align: center;
}

.contacto{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.cont{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.registrar{
    text-align: center;
}

.resaltado{
    font-weight: bold;
}

.error{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}